/* index */

section.discover-amazing-trips {
  margin-bottom: 45px;
  h2 {
    color: theme-color("green-color");
    font-size: 42px;
    text-align: center;
  }
  .amazing-trip {
    h3 {
      color: theme-color("blue-primary");
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;

    }
    &:hover, &.active { background-color: #f2f2f2; }
    min-height: 150px;
    text-align: center;

  }
}

/* find your adventure */
section.find-your-adventure {

  .fya-background, .fya-content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    vertical-align: top;
  }
  .fya-content {
    color: white;
    text-align: center;
    h2 {
      color: white;
      font-weight: normal;
      text-transform: uppercase;
    }
    .pad { padding: 20px; }
  }
}

/* single */

section.amazing-trip-gallery {
  padding: 0;
}
section.pampered-camping {
  background: url("../images/background-pampered-camping.jpg") center;
  min-height: 500px;
  padding: 100px 0;
  text-align: center;
  p {
    color: #fff;
    line-height: 1.556;
  }
}



section.river-menus {

  .river-menu {
    text-align: center;
    padding: 50px 0;
    h2 {
      color: white;
      margin-bottom: 25px;
    }
    .river-menu-logo { margin-bottom: 25px; }
    &.blue { background-color: theme-color("teal-color"); }
    &.green { background-color: theme-color("green-color"); }
    &.orange { background-color: theme-color("orange-color"); }
  }
}



section.planning-guides {
  text-align: center;
  padding: 60px 0;
  .planning-guide-content {
    h2 { margin-bottom: 30px; }
    p { margin-bottom: 50px; }
  }
  .planning-guide {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    h3 { color: theme-color("primary"); }
  }
}