body.blog {
  .content h2 a {
    color: theme-color("green-color");
  }


  .entry-meta {
    color: theme-color("blue-light");
    font-size: 15px;
    margin-bottom: 20px;
  }

  main {
    article {
      margin-bottom: 100px;
      .featured-image-single-post { margin-bottom: 35px; }
    }

    /* pagination */
    .posts-pagination {
      margin-bottom: 80px;
      .page-numbers {
        background-color: #dddddd;
        color: theme-color("primary");
        padding: 15px;
        &.current {
          background-color: theme-color("primary");
          color: white;
        }
      }
    }
  }
}


body.single {
  /* pagination on single post */
  .post-pagination {
    margin-bottom: 80px;
    > a {
      background-color: #dddddd;
      color: theme-color("primary");
      display: inline-block;
      padding: 15px;
      &[rel="next"] {
        float: right;
      }
    }
  }
}