
@mixin rounded-corners($location: null, $radius: null){
  @if $radius == null {
    $radius: $border-radius;
  }


  @if $location == 'top' {
    border-radius: $radius $radius 0 0;
  } @elseif $location == 'bottom' {
    border-radius: 0 0 $radius $radius;
  } @else {
    border-radius: $radius;
  }
}

@mixin img-responsive() {
  display: inline-block;
  max-width: 100%;
  height: auto;
}