footer {
  .footer-hr {
    background: transparent url("../images/footer-hr.png");
    height: 4px;
    width: 1920px;
  }

  .contact-us-text {
    h3 {
      color: #525d6f;
      font-size: 24px;
      font-weight: bold;
    }
    font-size: 16px;
  }

  .footer-frei-inc {
    background-color: theme-color("orange-color");
    color: #fff;
    font-size: 14px;
    padding: 5px 0;
    text-align: center;

  }
}