footer {
  color: theme-color("blue-light");



  a {
    color: theme-color("blue-light");
  }

  .footer-hr {
    background: transparent url("../images/footer-hr.png") center;
    height: 4px;
  }

  .footer-content {
    margin-bottom: 30px;
    margin-top: 50px;
  }

  .contact-us-text {
    font-family: $font-family-header;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    b, strong {
      color: theme-color("orange-color");
      font-weight: bold;
    }
    h3 {
      color: #525d6f;
      font-weight: bold;
    }
  }

  nav.nav-footer {
    ul {
      float: right;
    }
    li {
      a {
        font-family: $font-family-header;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
      }
      /*&:first-child a { padding-left: 0; }*/
      &:last-child a {
        padding-right: 0;
      }
    }
  }


  .footer-social-links {
    text-align: right;
    a {
      color: theme-color("orange-color");
      font-size: 38px;
      margin-left: 40px;
    }
  }

  .footer-copyright {
    font-weight: 400;
    font-size: 14px;
    text-align: right;
  }

  .footer-frei-inc {
    background-color: theme-color("orange-color");
    color: #fff;
    font-size: 14px;
    padding: 5px 0;
    text-align: center;
  }



}