/*------------------------------------------------------------------
    General elements
------------------------------------------------------------------*/

body {
  color: theme-color("primary");
  font-family: $font-family;
  font-size: $body-font-size;
  p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 30px;
  }
}
h1, h2, h3 { 
  color: theme-color("green-color");
  font-family: $font-family-header;
  a { color: theme-color("green-color") }
}

h1 {
  font-size: $h1-font-size;
  font-weight: 900;
}
h2 {
  font-size: $h2-font-size;
  font-weight: 900;
}
h3 {
  color: #000;
  font-size: $h3-font-size;
  font-weight: 700;
}
.content p {
  color: inherit;
}

a { color: $primary-color; text-decoration: none; }
a:focus, a:hover { color: inherit; text-decoration: underline; }


input[type="submit"].gform_button,
.btn-primary { display: inline-block; font-size: 19px; padding: 5px 40px; max-width: 100%; }

input[type="submit"].gform_button,
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background-color: transparent;
  border: 1px solid #525d6f;
  color: #525d6f;
  font-weight: 800;
}

.btn-primary {
  //background-color: rgba(108,194,74,1);
  //@include rounded-corners('all', 17px);
  //@include gradient-vertical(#48a23f, #6cc24a);
  //box-shadow: $shadow;
  border-radius: 0;

  &.white {
    //@include gradient-vertical($primary-color, #52b9e9);
    border-color: white;
    color: white;
  }
  .fa {
    font-size: 16px;
    padding-left: 5px;
  }
}

hr {
  border-top: 1px solid;
}



.blue-color { color: theme-color("blue-text"); }
.teal-color { color: theme-color("teal-color"); }
.orange-color { color: theme-color("orange-color"); }
.primary-color { color: theme-color("primary"); }