.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}



/*

/* Let's Connect bar  */

.header-contact {
  background-color: theme-color("blue-primary");
  color: theme-color("orange-color");
  font-family: $font-family-header;
  padding:4px;
  text-transform: uppercase;
  a, .fa, .phone {
    color: white;
  }
  .fa-facebook-official { margin-left: 20px; }
  .fa-instagram,
  .fa-tripadvisor { margin-left: 7px; }
  .fa-phone {
    margin-left: 10px;
    margin-right: 7px;
  }
}
.navbar-brand {
  z-index: 10;
  padding: 0;
}

@media (min-width: 768px) {
  .navbar-brand
  {
    position: absolute;
    width: 466px;//100%;
    left: 0;
    right: 0;
    margin: auto;
    //margin-left: -233px;
    //margin:0 auto;
    //z-index: -10;
    box-shadow: $shadow;
  }
}




header {
  .nav-container {
    box-shadow: $shadow;
    position: relative;
    z-index: 10;
  }
  nav {
    ul li {
      border-bottom: 4px solid transparent;
      margin-right: 24px;
      a {
        color: theme-color("blue-primary");
        font-family: $font-family-header;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .current-menu-item,
      &:hover { border-bottom: 4px solid theme-color("teal-color"); }

    }

    &.navbar {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .featured-image {
    height: 240px;
    margin-bottom: 70px;

    h1 {
      color: white;
      font-size: 70px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
