.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}



/*

/* Let's Connect bar  */

.header-contact {
  a, .fa {
    color: white;
  }
  background-color: theme-color("blue-primary");
  color: theme-color("orange-color");
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .navbar-brand
  {
    position: absolute;
    width: 466px;//100%;
    left: 0;
    right: 0;
    margin: auto;
    //margin-left: -233px;
    //margin:0 auto;
    //z-index: -10;
    box-shadow: $shadow;
  }
}




header {
  margin-bottom: 70px;

  nav {
    ul li {
      a {
        color: theme-color("blue-primary");
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
      }
      &:hover {
        border-bottom: 4px solid theme-color("teal-color");
      }
      border-bottom: 4px solid transparent;
    }

    &.navbar {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .featured-image {
    height: 240px;
    h1 {
      color: white;
      font-size: 70px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
