.content-top {
  text-align: center;
  margin-bottom: 65px;
  h2 { margin-bottom: 35px; }
  p { margin-bottom: 50px; }
}




/* about page */

body.template-about {
  main {
    text-align: center;
  }
}

/* about - asv guide/staff */
section.asv-guides-staff {
  background-color: #f0f3f3;
  padding: 75px 0 90px;
}

.asv-staff-container {
  background-color: white;
  border-top: 4px solid theme-color("teal-color");
  margin-bottom: 80px;
  text-align: center;
  .asv-staff {
    position: relative;
    top: -67.5px;

  }
  img.staff-pic {
    border: 5px solid #cbcccd;
    border-radius: 100px;
    height: 135px;
    //position: relative;
    //top: -67.5px;
    width: 135px;
  }
  h3.staff-name {
    color: theme-color("orange-color");
    font-size: 25px;
  }
  h4.staff-position {
    font-weight: 400;
    color: theme-color("blue-light");
    font-size: 18px;
  }
  .bio-short {
    font-size: 12px;
  }
}




section.about-travel-info {
  background-color: theme-color("primary");
  color: white;
  padding: 100px 0;
  text-align: center;
  h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  p { margin-bottom: 30px; }
}




/* Contact Page */
body.page.contact {
  .gform_wrapper {
    label { text-transform: uppercase}
    .gform_title { color: theme-color("orange-color"); }

    ul li.gfield { margin-top: 5px; }
    div.ginput_container{ margin-top: 0; }
  }
}

