.content-top {
  text-align: center;
  margin-bottom: 65px;
  h2 { margin-bottom: 35px; }
  p { margin-bottom: 50px; }
}




/* about page */

body.template-about {
  main {
    text-align: center;
  }
}


section.asv-guides-staff {
  background-color: #f0f3f3;
  padding: 75px 0 90px;
}