.content-top {
  text-align: center;
  margin-bottom: 65px;
  h2 {
    margin-bottom: 35px;
    text-transform:uppercase;
  }
  p { margin-bottom: 50px; }
}




/* about page */

body.template-about {
  main {
    text-align: center;
  }
}

/* about - asv guide/staff */
section.asv-guides-staff {
  background-color: #f0f3f3;
  padding: 75px 0 90px;
  text-align: center;
  h2 {
    margin-bottom: 50px;
  }
}

.asv-staff-container {
  background-color: white;
  border-top: 4px solid theme-color("teal-color");
  box-shadow: $light-shadow;
  height: calc(100% - 80px);
  margin-bottom: 30px;
  text-align: center;
  top: 50px;
  position: relative;

  .asv-staff {
    position: relative;
    top: -67.5px;

  }
  img.staff-pic {
    border: 5px solid #cbcccd;
    border-radius: 100px;
    height: 135px;
    //position: relative;
    //top: -67.5px;
    width: 135px;
  }
  h3.staff-name {
    color: theme-color("orange-color");
    font-size: 25px;
    margin-top: 10px;
  }
  h4.staff-position {
    font-weight: 400;
    color: theme-color("blue-light");
    font-size: 18px;
  }
  .bio-short {
    font-size: 12px;
    padding: 0 15px;
  }
}

.asv-staff-modal {
  .modal-header {
    background-color: theme-color("orange-color");
    color: white;
    font-size: 24px;
    button {
      color: white;
      font-size: 30px;
    }
  }
  .modal-title {
    color: white;
  }
  .staff-bio {
    text-align: left;
  }
}

section.about-travel-info {
  background-color: theme-color("primary");
  color: white;
  padding: 100px 0;
  text-align: center;
  h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  p { margin-bottom: 30px; }
}


section.map-google {
  padding-left: 0;
  padding-right: 0;
  .acf-map {
    height: 460px;
    width: 100%;
  }
}






/* Faqs */

.accordion {
  .panel {
    border: 1px solid #4f6e7a;
    margin-bottom: 10px;
  }
  .panel-title {
    background-color: #f9f9f9;
    font-size: 35px;
    margin-bottom: 0;
    text-transform:uppercase;
    > a {
      display: block;
      padding: 20px;
      &:before {
        color: theme-color("green-color");
        content: "-"; //"\f068";
        float: right !important;
        font-family: "FontAwesome";
        padding-right: 5px;
      }
      &.collapsed:before {
        content: "+"; //"\f067";
        float: right !important;
      }
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .panel-body {
    border-top: 1px solid #4f6e7a;
    padding: 40px 20px;
  }
}




/* Contact Page */
body.page.contact {
  .gform_wrapper {
    label { text-transform: uppercase}
    .gform_title { color: theme-color("orange-color"); }

    ul li.gfield {
      //display: inline-block;
      margin-top: 5px;
    }
    div.ginput_container{ margin-top: 0; }

    .gform_footer{
      text-align: center;
    }
  }
}
