/* home - slider */
section.home-slider {
  margin-bottom: 50px;
}

/** map - salmon river */

.map-salmon-river {
  background-color: #f0f3f3;
}




/** header - adventure */

section.header-adventure {
  .adventure-text {
    color: #fff;
    font-family: $font-family-header;
    font-size: 58px;
    font-weight: bold;
    padding-right: 25px;
    text-align: right;
    text-transform: uppercase;
  }
  background: url("../images/header-adventure.jpg") center;
  height: 97px;
}



/* form - discover adventure */

section.discover-adventure {
  background: url("../images/background-discover-adventure.jpg") center;
  padding-top: 50px;
  height: 709px; //259px;
  text-align: center;

  h2 {
    color: #54d5f7;
    margin: 20px auto 0;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
  form {
    text-align: center;
    input[type="text"], textarea {
      background-color: rgba(255, 255, 255, .8);
      border: none;
      color: theme-color("blue-light");
      font-size: 16px;
    }
    textarea {
      width: 100%;
    }
  }

  .discover-your-adventure-text {
    margin-top: 60px;
  }
  
  /* g form specific */
  .gform_wrapper {
    .gform_heading,
    .gfield label
    { display: none !important; }

    ul li.gfield {
      display: inline-block;
      margin-top: 0;
      padding: 3px;
      input {
        width: 100%;
      }
    }

    div.ginput_container {
      margin-top: 0;
    }

    .gform_button,
    input[type="submit"]{
      border-color: white;
      color: white;
      width: 33%;
    }

    .gform_footer {
      padding-top: 0;
    }
  }

}


/* section - discover y/our amazing trips */

section.discover-amazing-trips {
  margin-bottom: 45px;
  h2 {
    color: theme-color("green-color");
    font-size: 42px;
    text-align: center;
  }
  .amazing-trip {
    h3 {
      color: theme-color("blue-primary");
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;

    }
    &:hover, &.active { background-color: #f2f2f2; }
    min-height: 150px;
    text-align: center;

  }
}



/* section - enjoy whitewater */

section.enjoy-whitewater {

  .enjoy-whitewater-left,
  .enjoy-whitewater-right {
    min-height: 525px;
  }

  .enjoy-whitewater-left {
    background-position: center top;
    h2 {
      color: #fff;
      font-size: 42px;
      font-weight: 400;
      margin-bottom: 35px;
      margin-top: 50px;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      color: #fff;
      font-size: 18px;
      line-height: 1.444;
    }
  }
  .enjoy-whitewater-right {
    background-position: center top;
  }
}