/** map - salmon river */

.map-salmon-river {
  background-color: #f0f3f3;
}




/** header - adventure */

section.header-adventure {
  .adventure-text {
    color: #fff;
    font-size: 58px;
    padding-right: 25px;
    text-align: right;
    text-transform: uppercase;
  }
  background-image: url("../images/header-adventure.jpg");
  height: 97px;
  width: 1920px;
}



/** form - discover adventure */

section.discover-adventure {
  h2 {
    color: #54d5f7;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
  form {
    text-align: center;
  }
  background-image: url("../images/background-discover-adventure.jpg");
  padding-top: 450px;
  height: 709px; //259px;
  width: 1920px;
}
