/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #ff9b00,

  blue-menu: #143e4d,
  blue-text: #525d6f,
  blue-dark: #143e4d,
  green: #9ed000,
  orange: #e48f23,
  teal: #54d5f7
);
