/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #ff9b00,

  blue-primary: #143e4d,
  blue-light: #525d6f,
  //blue-dark: #143e4d,
  blue-text: #002d3d,
  green-color: #9ed000,
  orange-color: #e48f23,
  teal-color: #54d5f7
);





$image-dir: '../images/';

$primary-color: theme-color("primary");
//$body-color: #0d0d0d;
$link-color: $primary-color;
$font-family: 'Roboto Condensed', sans-serif;
$font-family-header: 'Saira Extra Condensed', sans-serif;


$body-font-size: 18px;
$h1-font-size: 70px;
$h2-font-size: 42px;
$h3-font-size: 24px;

$border-radius: 10px;


$shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);